
<div class="row expanded">

  <div class="large-6 columns">

   <h2> About Us</h2>

<section id="about-company-history" data-magellan-target="about-company-history">
  <h3>Company History</h3>
  <p>  Founded in Milwaukee in 1963, J&amp;R Industrial Sales Inc. has
    become one of the largest distributors of abrasive products for Wisconsin's foundry
    industry. Over the past 50 years J&amp;R Industrial has grown its business across
    the United States.  J&amp;R also serves the welding, steel fabrication, ornamental iron
    , and construction industries.
  </p>
</section>

<section id="about-specializations" data-magellan-target="about-specializations">
  <h3>Specializations</h3>
  <p>  Through AbrasiveGuys.com you can view J&amp;R Industrial's product offerings
    , which show a wide variety of abrasive products including: large resinoid snagging
    and hot pressed cutoff wheels, cup and cone type wheels, coated abrasives such as:
    sanding belts, resin fiber discs, cartridge rolls, and surface conditioning products for
    grinding, blending, and finishing. Most recently we have added two new lines: cutting
    tools, and industrial brushes.
  </p>
</section>

<section id="about-contact-us" data-magellan-target="about-contact-us">
  <h3>Contact Us</h3>
  <p>   With more than 50 years of compined experience in abrasive sales, the personnel
    at J&amp;R Industrial Sales will provide you with the best products at the best prices
    and the shortest lead times in the industry. Our knowledgeable staff is ready to assist
    you, please call or email us with any questions.
  </p>
  <p> We search the world to find you the best abrasives!</p>
</section>

  </div>

  <div class="large-6 columns">

    <img id="storefront-image" alt="storefront" src="assets/img/front.jpg"/>

  </div>

</div>
