<h2>Catalog</h2>

    <h3>sanding belts/ resin fiber disks</h3>
      <p> We have belts in sizes ___ to ___ in both aluminum oxide and zieconia coatings.<p>

    <h3>coated abrasives</h3>
      <p>We sell many different coated abrasives to aid you in your specific task.</p>

    <h3>depressed center wheels</h3>
      <p>We have depressed center wheels in sizes ___ to ___.</p>

    <h3>cutoff wheels </h3>
      <p> We are Wisoncin's exclusive dealer of Buckeye Abrasives!</p>

    <h3>cones, plugs, and cup wheels</h3>
      <p>We are Wisconsin's exclusive dealer for Golf States!</p>

    <h3>mounted points</h3>
      <p>We have mounted point abrasives in sizes ___ to ___, in maby shapes and grits.</p>

    <h3>bandsaw blades (towerleaf)</h3>
      <p>We sell bandsaw blades in sizes ___ to ___, and have ___ to ____ teeth per inch.</p>

    <h3>surface conditioning products</h3>
      <p>We have many different surface conditioning products to serve any of your finishing
        needs.</p>

    <h3>Kalamazoo machines</h3>
      <p>We sell many different types of kalamazoo machines</p>

    <h3>wire brushes</h3>
      <p>We have many different wire brushes for any task.</p>

    <h3>drill bits</h3>
      <p>We sell drillbits in sizes ___ to ___</p>

    <h3>other</h3>
      <p>This is a section for other items we sell.</p>
