<h2>Catalog</h2>
  <p>We have a wide variety of product offerings. Call or email us if you have any questions,
    or require more information.</p>

<section id="catalog-sanding-belts">
    <h3>Sanding Belts</h3>
      <p> Available in Aluminum Oxide, Alumina
        Zirconia, Silica Carbide, Ceramic, and Surface Conditioning materials. Sizes available
        in widths from 1/8 to 60 inches in any lengths.</p>
</section>

<section id="catalog-Resin Fiber Discs">
    <h3>Resin Fiber Disks</h3>
      <p> Our Resin Fiber Discs are available in Aluminum Oxide, Alumina Zirconia, Silicon
         Carbide and Ceramic grains. In 4 to 9 inch diameters.<p>
</section>

<section id="catalog-coated-abrasives">
    <h3>Coated Abrasives</h3>
      <p>We sell Quick Change Discs, PSA Discs, Hook and Loop Discs, Flap Discs, Flap
        Wheels, Cartridge Rolls, along with many other specialty type Coated Abrasive items
        upon request.</p>
</section>

<section id="catalog-depressed-center-wheels">
    <h3>Depressed Center Wheels</h3>
      <p>We stock Type 27 and Type 28 Depressed Center Wheels in sized from 4 to 9 inch
        diameter in various thicknesses to cut and grind all materials, including metals,
        masonry, ceramic, etc. .</p>
</section>

<section id="catalog-cut-off-wheels">
    <h3>Buckeye Abrasives</h3>
      <p> We are Wisconsin's exclusive distributor of Buckeye Abrasives! Buckeye is known
      for Hot Pressed Cut-Off Wheels and Snagging wheels which are used in foundry and
      other demanding cutting and grinding applications.</p>
</section>

<section id="catalog-cones-plugs-cup-wheels">
    <h3>Gulf States Abrasives</h3>
      <p>We are Wisconsin's exclusive distributor for Golf States Abrasives, based out of
         Huston Texas! Gulf States is the premier manufacturer of Cup Wheels, Cones,
       Plugs and Snagging Wheels for the foundry and welding industries. Grades available
       for grinding all metals, and masonry applications.</p>
</section>

<section id="catalog-mounted-points">
    <h3>Mounted Points</h3>
      <p>Available in all shapes and sizes, including specials. All made here in the U.S.A.</p>
</section>

<section id="catalog-bandsaw-blades">
    <h3>Bandsaw Blades</h3>
      <p>We supply Towerleaf Bandsaw Blades, which are welded in Illinois. With short lead
      times and high quality products for cutting any and all materials.</p>
</section>

<section id="catalog-surface-conditioning-products">
    <h3>Surface Conditioning Products</h3>
      <p>Our Surface Conditioning Products are available in Disc, Belt, Hand Pad, and
        Wheel forms in many grades for a multitude of applications.</p>
</section>

<section id="catalog-kalamazoo">
    <h3>Kalamazoo Industries Machinery</h3>
      <p>We are a distributor of the full line of Kalamazoo Industries machinery,
        which includes but is not limited to Belt Sanders, Grinders, Disc Sanders and Cut-Off
        Saws.</p>
</section>

<section id="catalog-wire-brushes">
    <h3>Wire Brushes</h3>
      <p>We are a full line stocking distributor of wire brushes, which includes but is not
      limited to, Bench Wheels, Cups, End Brushes, and Scratch Brushes. All products
    are available in Stainless Steel, Carbon Steel, Nylon Bristles, and other specialties.</p>
</section>

<section id="catalog-drill-bits">
    <h3>Cutting Tools</h3>
      <p>We sell Drill Bits, Carbide Burrs, and other specialty cutting tools have been added
        to our product lines.</p>
</section>
