<h2>Catalog</h2>

<section id="catalog-sanding-belts-resin-fiber">
    <h3>Sanding Belts and Resin Fiber Disks</h3>
      <p> We have Sanding Belts and Resin Fiber Discs in Aluminum Oxide, Alumina
        Zirconia, Ceramic, and Silicon Carbide.<p>
</section>

<section id="catalog-coated-abrasives">
    <h3>Coated Abrasives</h3>
      <p>We sell Quick Change Discs, PSA Discs, Hook and Loop Discs, Flap Discs, Flap
        Wheels, and Cartridge Rolls.</p>
</section>

<section id="catalog-depressed-center-wheels">
    <h3>Depressed Center Wheels</h3>
      <p>We have Type 27 and Type 28 Wheels for metal and concrete grinding.</p>
</section>

<section id="catalog-cut-off-wheels">
    <h3>Cut-Off Wheels</h3>
      <p> We are Wisoncin's exclusive dealer of Buckeye Abrasives! We sell Hot and Cold
      Pressed, and Reinforced and Non-Reinforced Wheels for concrete and metal cutting.</p>
</section>

<section id="catalog-cones-plugs-cup-wheels">
    <h3>Cones, Plugs, and Cup Wheels</h3>
      <p>We are Wisconsin's exclusive dealer for Golf States! We have Zirconia-Aluminum
      Oxide, Silicon Carbide, and Diamond products.</p>
</section>

<section id="catalog-bench-pedestal-snagging-weels">
    <h3>Bench, Pedestal and Snagging Wheels, Vetrified and Resin Bonded</h3>
      <p>We sell Bench, Pedistal, and Snagging Wheels in Aluminum Oxide, Silicon
      Carbide, Zirconia, and Ceramic.</p>
</section>

<section id="catalog-mounted-points">
    <h3>Mounted Points</h3>
      <p>We have Vitrified and Resin Bonded Points.</p>
</section>

<section id="catalog-bandsaw-blades">
    <h3>Bandsaw Blades</h3>
      <p>We sell Towerleaf brand Bandsaw Blades.</p>
</section>

<section id="catalog-surface-conditioning-products">
    <h3>Surface Conditioning Products</h3>
      <p>We have Discs, belts, and Hand Pads.</p>
</section>

<section id="catalog-kalamazoo">
    <h3>Kalamazoo Industries Machinery</h3>
      <p>We sell Disc Sanders, Belt Sanders, and Cut-Off Saws.</p>
</section>

<section id="catalog-wire-brushes">
    <h3>Wire Brushes</h3>
      <p>We have Bench Wheels, Cups, End Brushes, and Scratch Brushes.</p>
</section>

<section id="catalog-drill-bits">
    <h3>Drill Bits</h3>
      <p>We sell Drill Bits.</p>
</section>

<section id="catalog-catalog"other">
    <h3>other</h3>
      <p>This is a section for other items we sell.</p>
</section>
