<h2>Special Deals</h2>
<section id="specialDeals-ebay">
  <h3>For specials and overstock visit us on Ebay</h3>
    <p>Check our Ebay stock for the latest close-out, odd-lot, over-run, and one time deals.
      Hurry while supplies last!</p>
    <a href="http://www.ebay.com/usr/glendalegrit-53217?_trksid=p2047675.l2559">  ebay</a>
</section>

<section id="specialDeals-other">
  <h3>Other Deals</h3>
    <p>We also have special deals running through our normal stock. For more information
      on these deals please call or email us!</p>
  </section>
